{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <div class="row gy-2 g-md-2 g-xl-3 bsb-project-2-grid">
        <twig:PostGrid />
    </div>
{% endblock %}
