{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="bg-white">
            <div style="min-height: 800px; min-width: 1200px; margin-bottom: 1.5rem;">
                {{ render_chart(chart) }}
            </div>
        </div>

        <hr>

        <div class="bg-white">
            <div style="min-height: 800px; min-width: 1200px; margin-bottom: 1.5rem;">
                {{ render_chart(windChart) }}
            </div>
        </div>
    </div>
{% endblock %}
